---
layout: archive
title: "Resources"
permalink: /resources/
author_profile: true
---

{% include base_path %}

Below are various lists of academic resources, such as research fellowships and professional development programs, for students and postdocs. 
If you spot an error, or there is something you would like me to add, feel free to reach me at mercadorocio137 [at] gmail [dot] com. 
Except for the postdoctoral fellowships, all the other lists of resources are (currently) heavily biased towards US-based opportunities.
Nevertheless, I am constantly updating these pages by removing outdated links and adding interesting new resources I come across, so check back later for updates.

{% for post in site.resources %}
  {% include archive-single.html %}
{% endfor %}

